


:root {
    --outer-space: #5b4f88;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #f3ef11;}
::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
  }

.header {
    padding: 20px;

    justify-content: 20%;
    flex-wrap: wrap;
    background-color: red;

}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .PRJ {
    justify-content: center;
  }

  
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  
  .code-card {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    min-height: 100%;
    padding: rem;
    color: var(--heliotrope);
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }

  .code-card .card-header {
    
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    
  }

  
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
  }

  
  .code-card .code-block {
    flex-grow: 1;
  }

  .code-card pre {
    
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--gin);
    border-radius: 8px;
    
    background-image: linear-gradient(
      rgba(36, 82, 112, 0.3) 0%,
      rgba(102, 236, 109, 0.6) 100%
    );
    display: flex;
    align-items: center;
  }

 
  .code-card pre:active {
    user-select: all;
  }

  #contact{
    background-color: rgb(223, 88, 205);
  }


  

 
    .card-column {
        
        
        max-width: 60.333%;
      }

      body {

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
          Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


        font-size: 1.75rem;
        line-height: 1.5;
        color: var(--gin);
        background-color: var(--outer-space); }
      
      #Horimg {
        max-width: 700px;
        
        
       
        flex: 1 0 100%;
        padding: 1.5rem;
        
        transition: flex-basis 500ms linear;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
      }

     
      #porject1 {
        display:flex;
        justify-content:center;
        }
        
        img.mob-img {
          width: 900px;
          height: 900px;
        }   
        @media screen and (max-width: 992px) {
          img.mob-img {
            width: 110%;
            max-width: 700px;
            height: auto;
          }       
            
        }
    h1{
        color:  rgb(244, 247, 90);
    }
   
    